* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.register-block {
    position: absolute;
    display: block;
    align-content: space-evenly;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
}

.margindebg {
    margin-bottom: 35px;
}

.user-group {
    margin-top: 25px ;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    font-weight: 500;
}

.user {
    background-color: rgb(10, 10, 10);
    width: 250px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.email-group {
    color:rgb(0, 0, 0);
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    font-style: oblique;
    font-weight: 600;
    font-size: xx-large;
}

.email {
    background-color: rgb(10, 10, 10);
    width: 250px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.password-group {
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    font-style: oblique;
    font-weight: 600;
    font-size: xx-large;
}

.password {
    background-color: rgb(10, 10, 10);
    width: 250px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.submit {
    background-color: rgb(10, 10, 10);
    color: gray;
    width: 250px;
    height: auto;
    display: block;
    margin: 15px auto;
}

a {
    color: black;
    text-decoration: none;
}

.bottom-link {
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 1px;
    font-style: italic;
    font-size: large;
    position: absolute;
    bottom: 0;
    left: 12%;
}
